ShibUserPassAuth {
  edu.vt.middleware.ldap.jaas.LdapLoginModule required
    ldapUrl="ldap://${LDAP_HOST}"
    baseDn="${SHIB_LDAP_USERS_BASE_DN}"
    bindDN="${SHIB_LDAP_ADMIN_BIND_DN}"
    bindCredential="${SHIB_LDAP_ADMIN_BIND_PASSWORD}"
    serviceUser="${SHIB_LDAP_ADMIN_BIND_DN}"
    serviceCredential="${SHIB_LDAP_ADMIN_BIND_PASSWORD}"
    ssl="${SSL_FLAG}"
    tls="${TLS_FLAG}"
    userFilter="uid={0}"
    subtreeSearch="true"
  ;
};